In [34]:
import pandas as pd

In [35]:
data = pd.read_csv('power.csv')
data.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [36]:
data[['country', 'quantity', 'category']].head()

   country  quantity  category
0  Austria       5.0         1
1  Austria      17.0         1
2  Belgium       0.0         1
3  Belgium       0.0         1
4  Belgium      35.0         1

In [33]:
filtered_countries = data[ (data['country']=='Latvia') | (data['country']=='Lithuania') | (data['country']=='Estonia') ]
filtered_category = data[ (data['category']==4) | (data['category']==12) | (data['category']==21) ]
filtered_year = data[ (data['year'] <= 2010) | (data['year'] >= 2005)]
filtered_quantity['quantity'].sum()

219198649389.79904